 <footer class="text-center text-lg-start text-muted" style="background-color: #D9777F;">

	<div class="container text-center text-md-start mt-5">
		<div class="row mt-3">
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
				<h6 class="text-uppercase text-center fw-bold mb-4">Garage V.Parrot
				</h6>


				<ul class="list-group-flush">
					<li class="list-group-item">
						<a class="nav-link active" aria-current="page" href="/" style="color: #FFFFFF;">Accueil</a>
					</li>
					<li class="list-group-item">
						<a class="nav-link active" aria-current="page" href="/voitures" style="color: #FFFFFF;">Les Véhicules</a>
					</li>
					<li class="list-group-item">
						<a class="nav-link active" aria-current="page" href="/services" style="color: #FFFFFF;">Les Services</a>
					</li>
					<li class="list-group-item">
						<a class="nav-link active" aria-current="page" href="/infos" style="color: #FFFFFF;">Informations Générales</a>
					</li>

				</ul>
			</div>


			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
				<h6 class="text-uppercase text-center fw-bold mb-4">Horaires d'Ouverture
				</h6>
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">Lundi</th>
							<td>10h00 - 20h00</td>
						</tr>
						<tr>
							<th scope="row">Mardi</th>
							<td>10h00 - 20h00</td>
							
						</tr>
						<tr>
							<th scope="row">Mercredi</th>
							<td>10h00 - 20h00</td>
						</tr>
						<tr>
							<th scope="row">Jeudi</th>
							<td>10h00 - 20h00</td>
						</tr>
						<tr>
							<th scope="row">Vendredi</th>
							<td>10h00 - 20h00</td>
						</tr>
						<tr>
							<th scope="row">Samedi</th>
							<td>10h00- 18h00</td>
						</tr>
						<tr>
							<th scope="row">Dimanche</th>
							<td>Fermé</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
				<h6 class="text-uppercase text-center fw-bold mb-4">Informations
				</h6>
				<ul class="list-group-flush">
				    <img class="list-group w-75" src="../images/V-Parrot.png" alt="logo garage v-parrot"><br>
					<li class="list-group-item">123 RUE DU CODE</li>
					<li class="list-group-item">31000, TOULOUSE</li>
					<li class="list-group-item">TEL: 555-123-4567</li>
					<br>
					<li class="list-group-item">
						<a class="nav-link active" aria-current="page" href="/mentions" style="color: #FFFFFF;">Mentions Légales</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
</section>
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
	© 2023 Copyright: Garage V-Parrot
</div></footer>