 <footer class="text-center text-lg-start text-muted" style="background-color: #B6AC97;">

	<div class="container text-center text-md-start mt-5">
		<div class="row mt-3">
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
				<h6 class="text-uppercase text-center fw-bold mb-4">Garage V.Parrot
				</h6>


				<ul class="list-group-flush">
					<li class="list-group-item">
						<a class="nav-link active" aria-current="page" href="/" style="color: #FFFFFF;">Accueil</a>
					</li>
					<li class="list-group-item">
						<a class="nav-link active" aria-current="page" href="/" style="color: #FFFFFF;">Les Véhicules</a>
					</li>
					<li class="list-group-item">
						<a class="nav-link active" aria-current="page" href="/" style="color: #FFFFFF;">Les Services</a>
					</li>
					<li class="list-group-item">
						<a class="nav-link active" aria-current="page" href="/" style="color: #FFFFFF;">Informations Générales</a>
					</li>

				</ul>
			</div>


			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
				<h6 class="text-uppercase text-center fw-bold mb-4">Horaires d'Ouverture
				</h6>
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">Lundi</th>
							<td>Fermé</td>
							<td>19h-22h</td>
						</tr>
						<tr>
							<th scope="row">Mardi</th>
							<td>12h-14h</td>
							<td>19h-22h</td>
						</tr>
						<tr>
							<th scope="row">Mercredi</th>
							<td>12h-14h</td>
							<td>19h-22h</td>
						</tr>
						<tr>
							<th scope="row">Jeudi</th>
							<td>12h-14h</td>
							<td>19h-22h</td>
						</tr>
						<tr>
							<th scope="row">Vendredi</th>
							<td>12h-14h</td>
							<td>19h-22h</td>
						</tr>
						<tr>
							<th scope="row">Samedi</th>
							<td>12h-14h</td>
							<td>19h-22h</td>
						</tr>
						<tr>
							<th scope="row">Dimanche</th>
							<td>12h-14h</td>
							<td>Fermé</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
				<h6 class="text-uppercase text-center fw-bold mb-4">Informations
				</h6>
				<ul class="list-group-flush">
				    <img class="list-group w-75" src="../.png" alt="logo garage v-parrot"><br>
					<li class="list-group-item">123 RUE DU CODE</li>
					<li class="list-group-item">73000, CHAMBERY</li>
					<li class="list-group-item">TEL: 555-123-4567</li>
					<br>
					<li class="list-group-item">MENTIONS LEGALES</li>
				</ul>
			</div>

		</div>
	</div>
</section>
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
	© 2023 Copyright: Le Nouveau Quai
</div></footer>