{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <h1>Create new Service</h1>

    {{ include('cartemodification/_form.html.twig') }}

    <a href="{{ path('app_cartemodification_index') }}">back to list</a>
{% endblock %}
