{% extends 'base.html.twig' %}

{% block title %}Informations générales{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12 histoire-du-garage">
                <h2>Histoire du Garage</h2>
                <p>Vincent Parrot, fort de ses 15 années d'expérience dans la réparation automobile, a ouvert ce garage en 2021.<br>
                Une large gamme de services est proposée: réparation et entretien réégulier pour garantir la performance et la sécurité.<br>
                De plus le Garage V-Parrot met en vente des véhicules d'occasion.</p>
            </div>

            <div class="col-12 informations-du-garage">
                <h2>Informations du Garage</h2>
                <ul class="list-group-flush">
					<li class="list-group-item">123 RUE DU CODE</li>
					<li class="list-group-item">31000, TOULOUSE</li>
					<li class="list-group-item">TEL: 555-123-4567</li>
				</ul>
            </div>

            <div class="col-12 horaires-du-garage">
                <h2>Horaires</h2>
                <p>Voici les horaires d'ouverture du garage :</p>
                <ul>
                    <li>Lundi : 10h00 - 20h00</li>
                    <li>Mardi : 10h00 - 20h00</li>
                    <li>Mercredi : 10h00 - 20h00</li>
                    <li>Jeudi : 10h00 - 20h00</li>
                    <li>Vendredi : 10h00 - 20h00</li>
                    <li>Samedi : 10h00 - 18h00</li>
                    <li>Dimanche : Fermé</li>
                </ul>
            </div>
        </section>
    </main>
{% endblock %}
