{% extends 'base.html.twig' %}

{% block title %}New Cars{% endblock %}

{% block body %}
    <h1>Create new Cars</h1>

    {{ include('carsmodification/_form.html.twig') }}

    <a href="{{ path('app_carsmodification_index') }}">back to list</a>
{% endblock %}
