{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12 mentions-légales">
				<h2>Politique de confidentialité</h2>
				<ul class="list-group-flush">
					<h3>1. Collecte des informations personnelles</h3>
					<li class="list-group-item">Nous collectons certaines informations personnelles lorsque vous visitez notre site web, y compris votre nom, votre adresse e-mail et toute autre information que vous choisissez de nous fournir.</li>
					<h3>2. Utilisation des informations</h3>
					<li class="list-group-item">Les informations que nous collectons sont utilisées dans le but de personnaliser votre expérience sur notre site web et de vous fournir les produits et services que vous demandez. Elles peuvent également être utilisées à des fins d'analyse pour améliorer nos produits et services.</li>
					<h3>3. Confidentialité des données</h3>
					<li class="list-group-item">Vos informations personnelles sont stockées de manière sécurisée et ne sont pas partagées avec des tiers sans votre consentement, sauf dans les cas où cela est nécessaire pour fournir les produits ou services que vous avez demandés.</li>
					<h3>4. Cookies</h3>
					<li class="list-group-item">Nous utilisons des cookies pour suivre votre utilisation de notre site web et pour améliorer votre expérience utilisateur. Vous pouvez choisir de désactiver les cookies dans les paramètres de votre navigateur, mais cela peut affecter certaines fonctionnalités de notre site web.</li>
					<h3>5. Consentement</h3>
					<li class="list-group-item">En utilisant notre site web, vous consentez à notre politique de confidentialité et à notre utilisation de vos informations personnelles conformément à celle-ci.</li>
					<h3>6. Modifications de la politique de confidentialité</h3>
					<li class="list-group-item">Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page.</li>
                </ul>   
            </div>
				{% endblock %}
