{% extends 'base.html.twig' %}

{% block title %}New Temoignage{% endblock %}

{% block body %}
    <h1>Create new Temoignage</h1>

    {{ include('temoignagesmodification/_form.html.twig') }}

    <a href="{{ path('app_temoignagesmodification_index') }}">back to list</a>
{% endblock %}
