{% extends 'base.html.twig' %}

{% block title %}Administration des véhicules{% endblock %}

{% block body %}
    <h1>Administration des véhicules</h1>
    <p>
        <a href="../voitures/ajout" class="btn btn-primary">Ajouter un véhicule</a>
        <a href="../voitures/edition" class="btn btn-secondary">Modifier un véhicule</a>
    </p>
{% endblock %}
