{% extends 'base.html.twig' %}

{% block title %}Véhicules d'occasion{% endblock %}

{% block body %}
<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Les Véhicules d'occasion</h1>
			</div>
            
            </section>
            </main>


{% endblock %}
